p {
    background-color: beige;
    padding: 10px 0;
    
}

#pan-tadeusz {
    background-color: magenta;
    color: yellow;
}
.lorem {
    font-size: 20px
}
p#pierwszy, a{
    font-weight: bold;
}
div#elementy-potomne p {
    background-color: aqua;
}